<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name ="tempSection" type ="Oct.Tools.Plugin.CodeGenerator.Section.TempSection, Oct.Tools.Plugin.CodeGenerator" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <tempSection>
    <temps>
      <temp name="CompositeQuery.tt" classNameExtend="" fileName="" fileNameExtend=".cs" dirName="CompositeQuery" isCreateChildDirByTableName="false" isRanOnlyOnceByBath="false"></temp>
      <temp name="Controller.tt" classNameExtend="Controller" fileName="" fileNameExtend=".cs" dirName="Controllers" isCreateChildDirByTableName="false" isRanOnlyOnceByBath="false"></temp>
      <temp name="Controller1.tt" classNameExtend="Controller" fileName="" fileNameExtend=".cs" dirName="Controllers" isCreateChildDirByTableName="false" isRanOnlyOnceByBath="false"></temp>
      <temp name="DTO.tt" classNameExtend="DTO" fileName="" fileNameExtend=".cs" dirName="Models" isCreateChildDirByTableName="false" isRanOnlyOnceByBath="false"></temp>
      <temp name="Entity.tt" classNameExtend="" fileName="" fileNameExtend=".cs" dirName="Entity" isCreateChildDirByTableName="false" isRanOnlyOnceByBath="false"></temp>
      <temp name="Service.tt" classNameExtend="Service" fileName="" fileNameExtend=".cs" dirName="GenServices" isCreateChildDirByTableName="false" isRanOnlyOnceByBath="false"></temp>
      <temp name="Index.tt" classNameExtend="" fileName="Index" fileNameExtend=".cshtml" dirName="Views" isCreateChildDirByTableName="true" isRanOnlyOnceByBath="false"></temp>
      <temp name="Create.tt" classNameExtend="" fileName="Create" fileNameExtend=".cshtml" dirName="Views" isCreateChildDirByTableName="true" isRanOnlyOnceByBath="false"></temp>
      <temp name="Edit.tt" classNameExtend="" fileName="Edit" fileNameExtend=".cshtml" dirName="Views" isCreateChildDirByTableName="true" isRanOnlyOnceByBath="false"></temp>
      <temp name="Details.tt" classNameExtend="" fileName="Details" fileNameExtend=".cshtml" dirName="Views" isCreateChildDirByTableName="true" isRanOnlyOnceByBath="false"></temp>
      <temp name="Config.tt" classNameExtend="" fileName="Config" fileNameExtend=".txt" dirName="Config" isCreateChildDirByTableName="false" isRanOnlyOnceByBath="true"></temp>
    </temps>
  </tempSection>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--CodeGenerator Begin-->
    <!--默认命名空间-->
    <add key="DefaultNameSpace" value="Oct" />
    <!--生成时忽略的列名-->
    <add key="IgnoreFiledNames" value="createdate,createuser" />
    <!--CodeGenerator End-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>