<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet">
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet">
    <link href="/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">
    <link href="/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet">
    
    <!-- BEGIN THEME STYLES -->
    <link href="/assets/global/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css">
    <!-- <link href="/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"> -->
    <link href="/assets/octopus/css/octopus.css" rel="stylesheet" type="text/css">
    <!-- END THEME STYLES -->
</head>
<body>
	<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">案例</h3>
        </div>
        <!-- 案例 begin -->
        <a class="J_SearchButton"
            id="J_SearchButton"
            data-tablesearchform=""
            data-tableajaxtype="get"
            data-tableresource="temp/table.json"
            data-tplurl="temp/tpl.html"
            data-tablebody="#DataTableBody"
            data-tablePaginationInfo="#PaginationInfo"
            data-Pagination="#Pagination"> 
            搜索数据
        </a>

        <div class="panel-body">            
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>公司</th>
                            <th>是否禁用</th>
                        </tr>
                    </thead>

                    <tbody id="DataTableBody">
                        
                    </tbody>
                </table>
            </div>


            <div class="panel-footer">
                <div class="row">
                    <!-- 总计 begin -->
                    <div class="col-md-5 col-sm-12"><span class="btn btn-sm blue disabled" id="PaginationInfo">Loading</span></div>
                    <!-- 总计 end -->

                    <!-- 分页 begin -->
                    <div class="col-md-7 col-sm-12 text-right" id="Pagination"></div>
                    <!-- 分页 end -->
                </div>
            </div>

            </div>
        </div>
        <!-- 案例 end -->
        

    </div>

    <!-- html begin-->
    <pre>
        <h3 class="panel-title">html格式:</h3>
        <textarea cols="108">
必须加入脚本文件：<script src="/assets/global/plugins/artTemplate.js"></script>

    <a class="J_SearchButton"
        id="J_SearchButton"
        data-tablesearchform="" /*根据哪个form表单的值进行查询，可以为空*/
        data-tableresource="temp/table.json" /*数据来源*/
        data-tplurl="temp/tpl.html" /*模板来源*/
        data-tablebody="#DataTableBody" /*存放数据的地方*/
        data-tablePaginationInfo="#PaginationInfo" /*描述总计的地方*/
        data-Pagination="#Pagination" /*存放分页的区域*/
        data-tabledatalimit=10 /*每页查询数据的长度*/
        > 
        搜索数据
    </a>

    <div class="panel-body">            
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>公司</th>
                        <th>是否禁用</th>
                    </tr>
                </thead>

                <tbody id="DataTableBody">
                    
                </tbody>
            </table>
        </div>


        <div class="panel-footer">
            <div class="row">
                <!-- 总计 begin -->
                <div class="col-md-5 col-sm-12"><span class="btn btn-sm blue disabled" id="PaginationInfo">Loading</span></div>
                <!-- 总计 end -->

                <!-- 分页 begin -->
                <div class="col-md-7 col-sm-12 text-right" id="Pagination"></div>
                <!-- 分页 end -->
            </div>
        </div>

        </div>
    </div>
    <!-- 案例 end -->


        </textarea>
    </pre>
    <!-- html end -->



    <!-- js begin -->
    <pre>
        <h3 class="panel-title">js:</h3>
        <textarea cols="108">
/*搜索按钮事件*/
/*利用click触发*/
$(".J_SearchButton").on("click",function(){
    /*该方法用于给当前搜索按钮自定义一些list的属性然后搜索数据*/
    $(this).dataToTable(function(list){
        list.helper = {
            takeStatus: function(isUsed){
                return isUsed ? "可用" : "禁用";
            }
        };
    });
});
        </textarea>
    </pre>
    <!-- js end -->


    <!-- 模板 begin -->
    <pre>
        <h3 class="panel-title">模板写法:</h3>
        <textarea cols="108">
<% for (var i = 0; i < data.length; i ++) { %>
    <tr>
        <td><%=data[i]["account"]%></td>
        <td><a href="<%=data[i]["companyUrl"]%>"><%=data[i]["company"]%></a></td>
        <td><%=takeStatus(data[i]["isUsed"])%></td>
    </tr>
<% } %>
        </textarea>
    </pre>
    <!-- 模板 end -->
</body>
<script src="/assets/global/plugins/jquery-1.11.0.min.js"></script>
<script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="/assets/global/plugins/uniform/jquery.uniform.min.js"></script>
<script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js"></script>
<script src="/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
<script src="/assets/global/plugins/artTemplate.js"></script>
<script src="/assets/global/plugins/json2.js"></script>
<script src="/assets/global/plugins/jquery.signalR-1.0.1.min.js"></script>
<script src="/signalr/hubs"></script>
<script src="/Scripts/jquery-jtemplates.js"></script>

<script src="/assets/global/scripts/metronic.js"></script>
<script src="/assets/admin/layout/scripts/layout.js"></script>
<script src="/assets/octopus/js/common.js"></script>
<script type="text/javascript">
    /*搜索按钮事件*/
    $(".J_SearchButton").on("click",function(){
        /*该方法用于给当前搜索按钮自定义一些list的属性然后会搜索数据*/
        $(this).dataToTable(function(list){
            list.helper = {
                takeStatus: function(isUsed){
                    return isUsed ? "可用" : "禁用";
                }
            };
        });

    });
</script>
</html>