<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4Net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <log4net configSource="Config\log4net.xml" />
  <enyim.com>
    <memcached protocol="Text">
      <servers>
        <add address="192.168.2.236" port="11211" />
      </servers>
    </memcached>
  </enyim.com>
  <connectionStrings>
    <add name="WriteConn" connectionString="User id=Octopus_Framework;Password=JSJQH8819!(K;Server=192.168.2.20;database=Oct_Framework;" />
    <add name="ReadConn" connectionString="User id=Octopus_Framework;Password=JSJQH8819!(K;Server=192.168.2.20;database=Oct_Framework;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="RedisReadServer" value="192.168.2.20:6379" />
    <add key="RedisWriteServer" value="192.168.2.20:6379" />
    <!-- mongo配置 mongodb://-->
    <add key="MongoConnStr" value="192.168.0.21:27017" />

    <add key="MongoDBName" value="OctFramework" />

    <add key="EnablePermission" value="true" />
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="/login/login" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <machineKey validationKey="D5AA5A4F9C87B72B671A97EBDBEFC30A409F482FBBB86352C4AE80B25428284C004ADF0CD99026768A8CAB5FA28E419FE448866933012EB7B8CF28A9F1F320A7" decryptionKey="8DDE5E4C7BB1A0A3EA2A35BF502029FEFF78D0DBC2C7BD0CCF9B505CDC3B760F" validation="SHA1" decryption="AES" />
    <sessionState cookieName="OctSessionId" mode="InProc" customProvider="DefaultSessionProvider">
    </sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!-- Sql适配器目前只支持sqlserver -->
      <!-- Session适配器，是使用缓存还是使用系统session,或cookie 实现类： CacheSessionProvider/SysSessionProvider/CookieSessionProvider -->
      <register type="Oct.Framework.Core.Session.ISessionProvider, Oct.Framework.Core" mapTo="Oct.Framework.Core.Session.CacheSessionProvider, Oct.Framework.Core" />
      <!-- 缓存适配器 使用redis还是memcache 实现类： MemCacheHelper/RedisHelper-->
      <register type="Oct.Framework.Core.Cache.ICacheHelper, Oct.Framework.Core" mapTo="Oct.Framework.Core.Cache.MemCacheHelper, Oct.Framework.Core" />
      <!-- 记录数据流插件  也可以继承接口，自己写实现-->
      <register type="Oct.Framework.Core.Log.IDbLog, Oct.Framework.Core" mapTo="Oct.Framework.MongoDB.LogMgr,Oct.Framework.MongoDB" />
    </container>
  </unity>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>