<?xml version="1.0" encoding="utf-8" ?>
<memcached-configuration xmlns="urn:memcached-configuration">
  <master>
    <memcached>
         <server address="127.0.0.1" port="11211" /> 
        <!--<server address="127.0.0.1" port="11212" />-->
      <socket-pool minPoolSize="10" maxPoolSize="999" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </master>
</memcached-configuration>